<div class="bg-white">
  <div class="container">
    <div class="d-grid grid-column-2 padding-block-82">
      <div class="contact-grid-item"> 
        <img src="../../../assets/images/contact-img.png" alt="">
      </div>
      <div class="contact-grid-item d-flex-column gap-1rem">
        <p class="text-darkblue font-gilroy-bold font-24px font-sm-24px">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        <h1 class="text-darkblue font-gilroy-bold font-50px font-sm-50px">Lorem Ipsum Dolor Sit Amet Consectetuer!</h1>
        <button class="contact-cta width-fit-content bg-green font-24px font-sm-24px font-roboto-700 text-white mt-auto mb-auto">Schedule a call today!</button>
      </div>
    </div>
  </div>
</div>