<div class="mcdonalds-bg">
  <div class="container">
    <div class="d-flex-column justify-content-center padding-block-70 w-50 w-sm-100 gap-1rem">
      <div>
        <h1 class="text-white font-gilroy-bold font-50px font-sm-50px">Lorem Ipsum Dolor Sit Amet</h1>
        <span class="text-green text-uppercase font-50px font-sm-50px font-gilroy-bold">LOREM IPSUM</span>
      </div>
      <p class="text-white font-21px font-sm-21px font-roboto-400">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
      <p class="text-white font-21px font-sm-21px font-roboto-400">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
      <button class="contact-cta width-fit-content bg-green font-24px font-sm-24px font-roboto-700 text-white mt-auto mb-auto">Schedule a call today!</button>
    </div>
  </div>
</div>