<footer>
  <div class="bg-darkblue footer-container">
    <div class="container">
      <div class="footer-grid">
        <div class="footer-grid-item"></div>
        <div class="footer-grid-item d-flex-column gap-1rem">
          <h1 class="font-16px text-white font-gilroy-bold">Get in touch</h1>
          <p class="font-16px text-white font-gilroy-light">loremipsumpk@gmail.com</p>
          <p class="font-16px text-white font-gilroy-light">Floor 3, One Expressway, Gulberg Greens, Islamabad</p>
        </div>
        <div class="footer-grid-item d-flex-column gap-1rem">
          <h1 class="font-16px text-white font-gilroy-bold">Follow us</h1>
          <ul role="list" class="d-flex gap-1rem">
            <li><img src="../../../assets/images/facebook.svg" alt=""></li>
            <li><img src="../../../assets/images/instagram (1).png" alt=""></li>
            <li><img src="../../../assets/images/twitter.svg" alt=""></li>
            <li><img src="../../../assets/images/youtube.svg" alt=""></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>