<header class="primary-header bg-darkblue">
  <div class="container text-white d-flex justify-content-between align-items-center padding-block-30">
    <div class="hamburger" (click)="toggleMobileMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <p class="font-31px font-sm-31px font-gilroy-bold text-uppercase ms-sm-auto">Your Logo</p>
    <nav class="primary-nav" [ngClass]="{ 'active': isMobileMenuOpen }">
      <ul role="list" class="nav-list">
        <li><a href="#" class="font-16px text-white font-gilroy-light">How it works</a></li>
        <li><a href="#" class="font-16px text-white font-gilroy-light">Franchise list</a></li>
        <li><a href="#" class="font-16px text-white font-gilroy-light">Franchising guide</a></li>
        <li><a href="#" class="button bg-green text-white font-gilroy-bold font-14px border-radius-5">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>