<header class="primary-header bg-darkblue">
  <div class="container text-white d-flex justify-content-between align-items-center">
    <button class="nav-toggle" aria-controls="primary-nav">
      <span>Menu</span>
    </button>
    <p class="font-31px font-gilroy-bold text-uppercase">Your Logo</p>
    <div class="d-flex">
      <nav class="primary-nav">
        <ul role="list" class="nav-list" id="primary-nav">
          <li><a href="#">How it works</a></li>
          <li><a href="#">Franchise list</a></li>
          <li><a href="#">Franchising guide</a></li>
        </ul>
      </nav>
      <button class="bg-green text-white font-gilroy-bold font-14px border-radius-5 button-header">Contact</button>
    </div>
  </div>
</header>

<!-- <div class="bg-darkblue text-white font-31px d-flex justify-content-between font-gilroy-bold padding-inline-main header-container">
</div> -->