<div class="bg-blue-gradient">
  <div class="container">
    <div class="d-flex-column justify-content-center align-items-center padding-block-70 gap-1rem text-center padding-inline-15rem">
      <h1 class="text-white font-darkblue font-gilroy-bold font-50px font-sm-50px">Lorem Ipsum Dolor Sit Amet</h1>
      <img src="../../../assets/images/certificate-img.png" alt="">
      <p class="font-21px font-sm-21px text-white font-roboto-400">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis Suspendisse urna nibh.</p>
      <p class="font-21px font-sm-21px text-white font-roboto-400">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
      <p class="font-21px font-sm-21px text-white font-roboto-700">Morbi in sem quis dui placerat ornare pellentesque</p>
      <button class="contact-cta width-fit-content bg-green font-24px font-sm-24px font-roboto-700 text-white mt-auto mb-auto">Schedule a call today!</button>
    </div>
  </div>
</div>