<div class="bg-white">
  <div class="container"> 
    <div class="d-flex-column padding-block-70">
      <h1 class="text-darkblue font-gilroy-bold font-50px font-sm-50px text-center padding-bottom-70">Lorem ipsum dolor sit amet</h1>
      <div class="service-grid text-sm-center">
        <div class="grid-item d-flex-column justify-content-center align-items-center align-items-sm-center">
          <img src="../../../assets/images/service-icon-5.svg" alt="">
          <h3 class="text-darkblue font-roboto-700 font-27px font-sm-27px text-center">Lorem Ipsum Dolor</h3>
          <p class="text-darkblue font-roboto-400 font-21px font-sm-21px text-center w-sm-85">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
        <div class="grid-item d-flex-column justify-content-center align-items-center align-items-sm-center">
          <img src="../../../assets/images/service-icon-2.svg" alt="">
          <h3 class="text-darkblue font-roboto-700 font-27px font-sm-27px text-center">Lorem Ipsum Dolor</h3>
          <p class="text-darkblue font-roboto-400 font-21px font-sm-21px text-center w-sm-85">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
        <div class="grid-item d-flex-column justify-content-center align-items-center align-items-sm-center">
          <img src="../../../assets/images/service-icon-6.svg" alt="">
          <h3 class="text-darkblue font-roboto-700 font-27px font-sm-27px text-center">Lorem Ipsum Dolor</h3>
          <p class="text-darkblue font-roboto-400 font-21px font-sm-21px text-center w-sm-85">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
        <div class="grid-item d-flex-column justify-content-center align-items-center align-items-sm-center">
          <img src="../../../assets/images/service-icon-4.svg" alt="">
          <h3 class="text-darkblue font-roboto-700 font-27px font-sm-27px text-center">Lorem Ipsum Dolor</h3>
          <p class="text-darkblue font-roboto-400 font-21px font-sm-21px text-center w-sm-85">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
        <div class="grid-item d-flex-column justify-content-center align-items-center align-items-sm-center">
          <img src="../../../assets/images/service-icon-1.svg" alt="">
          <h3 class="text-darkblue font-roboto-700 font-27px font-sm-27px text-center">Lorem Ipsum Dolor</h3>
          <p class="text-darkblue font-roboto-400 font-21px font-sm-21px text-center w-sm-85">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
        <div class="grid-item d-flex-column justify-content-center align-items-center align-items-sm-center">
          <img src="../../../assets/images/service-icon-3.svg" alt="">
          <h3 class="text-darkblue font-roboto-700 font-27px font-sm-27px text-center">Lorem Ipsum Dolor</h3>
          <p class="text-darkblue font-roboto-400 font-21px font-sm-21px text-center w-sm-85">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
      </div>
    </div>
  </div>
</div>