@import './assets/styles/reset.css';
@import './assets/styles/variables.css';
@import './assets/styles/color.css';
@import './assets/styles/fonts.css';
@import './assets/styles/typography.css';
@import './assets/styles/utility.css';
@import './assets/styles/button.css';

.container {
  --max-width: 1300px;
  --padding: 1.5rem;

  width: min(var(--max-width), 100% - var(--padding));
  margin-inline: auto;
}

/* Header styles */

.hamburger {
  display: none;
}

nav.primary-nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav.primary-nav li {
  margin: 10px;
}

nav.primary-nav a {
  text-decoration: none;
}

nav.primary-nav a.button {
  padding: 11px 42px;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger span {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px;
    background-color: #fff;
  }

  nav.primary-nav {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: #333;
    z-index: 1;
  }

  nav.active {
    display: block;
  }

  nav.primary-nav ul {
    flex-direction: column;
    align-items: center;
    background-color: var(--blue-900);
  }

  nav li {
    margin: 10px 0;
  }

  .bg-sm {
    background-image: url('./assets/images/hero-svg.svg');
    background-position: 0px -100px;
    background-repeat: no-repeat;
  }
}

/* Header styles end */

/* Hero section styles */

.hero-cta::after {
  content: url('./assets/images/hero-cta-icon.png');
  margin-left: .5rem;
  top: 5px;
  position: relative;
}

/* Hero section end */

/* Feature section styles */

ul.feature-list {
  list-style: none;
}

ul.feature-list li::before {
  content: url('./assets/images/check.svg');
  margin-right: 40px;
}

@media (max-width: 767px) {
  .feature-bg-sm {
    background-image: url('./assets/images/feature-bg.png');
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
  }
}

/* Feature section end */

/* Location section styles */

.carousel-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 3rem;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 30%;
}

.carousel-item img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.carousel-item:nth-child(2) img {
  width: 400px;
  height: 400px;
}

.carousel-navigation {
  display: none;
}

@media (max-width: 768px) {
  .carousel-container {
    overflow-x: auto;
  }

  .carousel-item {
    flex: 0 0 100%;
  }

  .carousel-item img {
    width: 250px !important;
    height: 175px !important;
  }

  .carousel-navigation {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  .carousel-nav-prev {
    position: absolute;
    left: 0;
  }

  .carousel-nav-next {
    position: absolute;
    right: 0;
  }
}

/* Location section end */

@media (min-width: 768px) {
  .info-bg {
    position: relative;
  }
  
  .info-bg::after {
    /* content: url('./assets/images/info-img-2.png'); */
    content: '';
    background-image: url('./assets/images/info-img-2.png');
    width: 600px;
    height: 739px;
    position: absolute;
    right: -300px;
    top: 50px;
    overflow: hidden;
  }
}
