.bg-darkblue {
  background-color: var(--blue-900);
}

.bg-midblue {
  background-color: var(--blue-600);
}

.bg-blue {
  background-color: var(--blue-200);
}

.bg-lightblue {
  background-color: var(--blue-100);
}

.bg-white {
  background-color: var(--white);
}

.bg-green {
  background-color: var(--green-300);
}

.bg-orange {
  background-color: var(--orange);
}

.text-white {
  color: var(--white);
}

.text-black {
  color: var(--black);
}

.text-darkblue {
  color: var(--blue-900);
}

.text-green {
  color: var(--green-300);
}