.d-flex {
  display: flex;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.mt-auto {
  margin-top: auto;
}

.border-radius-5 {
  border-radius: 5px;
}

.padding-block-30 {
  padding-block: 30px;
}

.padding-block-5rem {
  padding-block: 5rem;
}

.padding-block-70 {
  padding-block: 70px;
}

.padding-bottom-58 {
  padding-bottom: 58px;
}

.padding-inline-8 {
  padding-inline: 8px;
}

.width-fit-content {
  width: fit-content;
}

.gap-1rem {
  gap: 1rem;
}

.cursor-pointer {
  cursor: pointer;
}

@media (max-width: 768px) {
  .ms-sm-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .align-items-sm-center {
    align-items: center;
  }

  .height-sm-auto {
    height: auto !important;
  }

  .flex-sm-column {
    flex-direction: column;
  }

  .text-sm-center {
    text-align: center;
  }
}