:root {
  --white: #FFFFFF;
  --black: #000000;
  --gray-100: #F1F3F4;
  --gray-300: #F3F4F9;
  --gray-600: #00000026;
  --green-100: #23CE6B80;
  --green-300: #23CE6B;
  --blue-100: #E8EFFF;
  --blue-200: #6184D8;
  --blue-300: #4D80FB;
  --blue-600: #316EFF;
  --blue-900: #08083D;
}
