<div class="bg-blue height-lg-850">
  <div class="container">
    <div class="d-flex padding-block-70 info-bg">
      <div class="d-flex-column gap-1rem">
        <h1 class="text-green font-50px font-sm-50px font-gilroy-bold text-sm-center">Lorem</h1>
        <h1 class="text-white font-50px font-sm-50px font-gilroy-bold padding-bottom-58 text-sm-center">Ipsum Dolor</h1>
        <p class="text-white font-21px font-sm-21px font-roboto-400 w-75 w-sm-100">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Integer enim neque volutpat ac tincidunt vitae semper. Ullamcorper eget nulla facilisi etiam dignissim diam quis enim. Enim eu turpis egestas pretium aenean pharetra magna ac. Enim nunc faucibus a pellentesque sit amet porttitor eget dolor
        </p>
        <p class="text-white font-21px font-sm-21px font-roboto-400 w-75 w-sm-100">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sapien eget mi proin sed libero enim. Etiam sit amet nisl purus in mollis nunc sed id. Placerat in egestas erat imperdiet. Etiam tempor orci eu lobortis elementum nibh tellus molestie nunc. Felis eget velit aliquet sagittis id consectetur.
        </p>
      </div>
      <img src="../../../assets/images/info-img-1.png" alt="" *ngIf="!isMobileView">
    </div>
  </div>
</div>